@use "../../foundation/breakpoint" as b;

//メニュー全体
.c-aside{
    padding: 120px 0 0 46px;
    @include b.pc{
        padding: 40px 0 0 46px;

    }
}
//カテゴリグループ
.menu-item-object-category{
    padding-top: 40px;
    list-style: none;
}
//カテゴリタイトル
.menu-item-object-category>a{
    font-size: 24px;
    font-weight: bold;
    color: #707070;
    text-decoration: none;
}
//サブメニュグループ
.sub-menu{
    list-style: none;
    font-size: 20px;
    padding: 40px 0 0 20px;
}
//サブメニュタイトルの要素
.menu-item-object-post{
    font-size: 20px;
    padding-bottom: 23px;
}
//サブメニュタイトル文字
.menu-item-object-post>a{
    text-decoration:none ;
    font-size: 20px;
    color: #707070;
}

.menu-item-123{
    padding-bottom: 530px;
}