.c-aside{
    font-size: 20px;
    font-weight: lighter;
    color: #707070;
    margin-bottom: 20px;
    margin: 40px 0 0 66px;
    margin: 40px 0 0 66px;
}

.cat-item{
    list-style: none;
}

.cat-item>a{
    text-decoration: none;
}
