@use "../../foundation/breakpoint" as b;


//引用
.is-style-plain{
    padding: 30px 30px 30px 30px;
}

//リスト
.editor-list{
    padding: 30px 0 0 50px;
    list-style: none;
}
.editor-list1{
    padding: 30px 0 0 80px;
    list-style: none;
}

//コード
.editor-code{
    padding: 30px 0 30px 0;
}


//ボタン
.is-style-outline>:where(.wp-block-button__link){
    border: 1px solid #000;
    height: 104px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

//テーブル
.wp-block-table{
    padding-top:50px ;
}
tbody tr{
    border:1px #999 solid; 
}
tbody td{
    border:1px #999 solid; 
    padding: 30px 0 30px 30px;
}

//グリッド
.editor-grid{
    @include b.sp{
        flex-direction: column;
    }
    @include b.tab{

    }
}
//グリッド：スマホ１カラム
.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    @include b.sp{
        width: 100%;
    }
}
//グリッド：タブレット２カラム
.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    @include b.tab{
        width: 40%;
    }
    @include b.pc{
        width: 30%;
    }
}