@use "../../foundation/breakpoint" as b;

.c-text-box{

    &__ttl{
        font-size: 28px;
        font-weight: bold;
        margin: 30px 0 30px 22px;
            @include b.tab{
                margin: 30px 0 30px 5%;
            }
    }

    &__text{
        font-size: 16px;
        font-weight: lighter;
        line-height: 23px;
        margin: 0 22px 0 22px;
            @include b.tab{
                margin: 0 22px 37px 5%;
                width: 90%;
            }
    }
}