@use "../../foundation/breakpoint" as b;

//ページネーションCSS
.navigation{
    padding-bottom: 5px;
}

.page-numbers{
    font-size: 16px;
    color:#333;
    border:1px solid #707070;
    padding: 12px;
    margin: 0 5px 0 5px;
    text-decoration: none;
}
.next{
    font-size: 16px;
    color:#333;
    border: none;
    padding: 12px;
    margin: 0 5px 0 5px;
    text-decoration: none;
}
.prev{
    font-size: 16px;
    color:#333;
    border: none;
    padding: 12px;
    margin: 0 5px 0 5px;
    text-decoration: none;
}


.p-archive__pagination{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 60px 0 30px 0;

}

.p-archive__pagination>h2{
    padding-right: 20px;
}