
.p-footer{
    width: 100%;

    &__bg{
        background-image: url("/images/footer-pc.jpg");
        height: 150px;   
        width: 100%;
    }
    &__txt-box{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    &__txt1{
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        text-decoration: none;
        
    }

    &__txt2{
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        text-decoration: none;
    }

    &__txt-icon{
        width: 2px;
        height: 20px;
        background-color:#fff;
        margin: 5px 10px 0 10px;
    }

    &__copyright{
        font-size: 14px;
        font-weight: lighter;
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 34px;
    }
}