@use "../../foundation/breakpoint" as b;
//見出しテキストボックス
.p-page__text-box{
    color: #3C2A10;
    margin-left: 0px;
    &__ttl{
        font-size: 28px;
        font-weight: bold;
        margin:30px 0 30px 0;
            @include b.tab{
                margin: 30px 0 30px 0px;
            }
    }

    &__text{
        font-size: 16px;
        font-weight: lighter;
        line-height: 23px;
            @include b.tab{
                margin-bottom:37px;
            }
    }
}

.p-page{
    &__ttl3{
        margin-top: 30px;
        font-size: 24px;
        font-weight: bold;
        @include b.tab{
            margin-top: 60px;
        }
    }
    &-s-img{
        margin-top: 30px;
        width: 100%;
        object-fit: cover;
        @include b.tab{
            margin-top: 60px;

        }
    }
}

//引用
.p-page__quote{
    margin-top: 30px;
    background-color: #F5F5F5;
    height: auto;
    @include b.tab{
        margin-top: 60px;
    }

    &-txt{
        padding: 30px 20px 76px 20px;
    }

    &-name{
        padding-left: 20px;
        position: relative;
        bottom: 30px;
    }
}

//テキスト入りボックス

.p-page__box{
    width: 100%;
    &-1{
        display: flex;
        margin-top: 30px;
        align-items: flex-start;
        @include b.tab{
            margin-top: 60px;
        }
    }
    &-2{
        display: flex;
        margin: 30px 0 30px 0;
        align-items: flex-start;
        @include b.tab{
            margin: 120px 0 30px 0;
        }
        @include b.pc{
            margin: 60px 0 30px 0;

        }
    }
    &--image1{
        width: 46%;
        object-fit:contain;
        margin-right: 10px;
        @include b.pc{
            margin-right: 40px;

        }
    }
    &--image2{
        width: 46%;
        object-fit:contain;
    }
    &--text2{
        margin-right: 10px;
        @include b.pc{
            margin-right: 40px;

        }
    }


    &-bottom{
        display: flex;
        justify-content: center;
    }
    &-bottomーimg{
        width: 100%;
        object-fit: fill;
        margin:30px 0 30px 0;
        padding: 0 30px 0 30px;
        max-width: 581px;
        max-height: 358px;
        @include b.tab{
            margin:30px 0 240px 0;
        }
        @include b.pc{
            margin:30px 0 60px 0;

        }
    }   
}

//グリッドレイアウト
.p-page__grid{
    margin-bottom:30px;
    display: grid;
    gap: 20px;
    @include b.tab{
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(5,1fr);
    margin-bottom:60px;


    }
    @include b.pc{
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    }
}

//リスト項目
.p-page__list{
    &--1{
        list-style: none;
        @include b.tab{
            margin-left:50px;
        }
        
    }
    &--2{
        margin: 60px 0 30px 0;
        list-style: none;
        @include b.tab{
            margin: 60px 0 60px 50px;
        }
    }
    &--right{
        margin: 20px 0 20px 20px;
    }
}

//コード
.p-page__code{
    background-color: #F5F5F5;
    margin-bottom:30px;
    @include b.tab{
        margin-bottom: 60px;
    }
}

//テーブル
.p-page__table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    &-th1{
        font-weight: inherit;
        text-align: start;
        padding: 27px 0 28px 30px;
        width: 40%;
    }
    &-th2{
        text-align: start;
        font-weight: inherit;
        padding: 27px 0 28px 30px;
        width: 60%;
    }

        &-td1{
            padding: 27px 0 28px 30px;
            width: 40%;
        }
        &-td2{
            padding: 27px 0 28px 30px;
            width: 60%;
        }
}
.p-page__table th{
    border:1px solid #707070;
}

.p-page__table td{
    border:1px solid #707070;
}


//テキスト
.p-page__txt{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 180px;
    @include b.tab{
        margin: 30px 0 230px 0;
    }
    @include b.pc{
        margin: 30px 0 350px 0;

    }
}