@use "../foundation/breakpoint" as b;

.l-column{
    @include b.pc{
        display: flex;
        width: 100vw;
        max-width: 100%;
    }
    &__contents{
        @include b.pc{
            flex: 7;
            max-width: 75%;
        }
    }

    &__aside{
        @include b.pc{
            flex: 1;
            max-width: 25%;
        }
    }


}